<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.mapper.BookMapper">

<!--    更新书籍-->
    <update id="update">
        update book
        <set>
            update_time = #{updateTime},
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="press != null and press != ''">
                press = #{press},
            </if>
            <if test="img != null and img != ''">
                img = #{img}
            </if>
            where name = #{name}
        </set>
    </update>

    <select id="list" resultType="hu.pojo.Book">
        select * from books
        <where>
            <if test="isbn != null and isbn != ''">isbn = #{isbn}</if>
            <if test="bookId != null">and book_id = #{bookId}</if>
            <if test="title != null and title != ''">and title like concat('%',#{title},'%')</if>
            <if test="author != null and author != ''">and author like concat('%',#{author},'%')</if>
            <if test="publisher != null and publisher != ''">and publisher like concat('%',#{publisher},'%')</if>
            <if test="category != null and category != ''">and category like concat('%',#{category},'%')</if>
            <if test="startDate != null and endDate != null">and publish_date between #{startDate} and #{endDate}</if>
            <if test="availableCopies != null">and available_copies = #{availableCopies}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>

</mapper>